.Planne {
    background-color: #FAFCFD;
    color: #321704;
  }
.Planne-Banner {
    position: absolute;
    top:0;
    z-index: auto;
    background-color: #264655;
  }

.Planne-label {
    background-image: linear-gradient(to bottom right, rgba(57,100,121, 0.8), rgba(57,100,121, 0.5));
  }

.Planne-callout {
    background-image: linear-gradient(to bottom right, rgba(57,100,121, .1), rgba(57,100,121, 0.01));
}