.Card {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}
.Card:hover {
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.coverImg {
    height: 100%;
    object-fit: cover;
}