.Card {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}
.Card:hover {
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.coverImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}