.Card {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    margin: 1.5rem 3rem;
    padding: 1rem;
}
.Card:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    border: 2px solid rgba(255,255,255,0.35);
}

.coverImg {
    height: 100%;
    object-fit: cover;
}

.title{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.title > i{
    font-weight: 700;
}