.WriteRight {
    background-color: #FFFDFD;
    color: #000000;
  }
.WriteRight-banner {
    position: absolute;
    top:0;
    z-index: auto;
    background-color: #823627;
  }

.WriteRight-label {
    background-image: linear-gradient(to bottom right, rgba(39, 54,96, 0.8), rgba(39, 54,96, 0.5));
  }

.rowfill {
  width: 100%;
}