.NavBar {
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0.80);
    background: linear-gradient(151deg, rgba(255, 255, 255, 0.10) 17.33%, rgba(255, 255, 255, 0.40) 82.26%);
    backdrop-filter: blur(15px);
    margin: 1rem;    
    z-index: 1;
}
.navbar .link {
    color: #0B0B23;
    margin: 0 0.5rem;
  }
.navbar .link:hover {
    color: #0B0B23;
}
#basic-nav-dropdown {
    color: #0B0B23;
}

.link:hover {
    font-weight: bold;
}