.h1default {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.8em;
    -webkit-text-stroke: 5px #0B0B23;
    paint-order: stroke fill;
}

h1, h2{
    font-weight: 900;
    font-size: 3em;
}

p, li {
    font-size: 1.15rem;
}

b {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
}

.landing-intro {
    -webkit-text-stroke: 5px #0B0B23;
    paint-order: stroke fill;
}

.LandingPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.paragraph-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.intro {
    margin-top: 12rem;
    padding-bottom: 2rem;
}

.prevExperience {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}
  
.cardsList {
    margin-top: 5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.75s ease, transform 0.75s ease;
    animation: fadeInUp 0.75s ease forwards;
}
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}