.Wehack {
    background-color: #FEF9F4;
    color: #202334;
  }
.Wehack-Banner {
    position: absolute;
    top:0;
    z-index: auto;
    background-color: #4A5D71;
  }

.Wehack-label {
    background-image: linear-gradient(to bottom right, rgba(85,109,39, 0.8), rgba(85,109,39, 0.5));
  }

.Wehack-callout {
    background-image: linear-gradient(to bottom right, rgba(85,109,39, .1), rgba(85,109,39, 0.01));
}