.App {
  font-family: 'Sen', sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
  height: 100vh;
  color: #F0F0F5;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar { /* hiding scrollbar */
  width: 0;
}