.CometGala {
    background-color: #FFF3FA;
    color: #1C0523;
  }
.CometGala-banner {
    position: absolute;
    top:0;
    z-index: auto;
    background-color: #711A1A;
  }

.CometGala-label {
    background-image: linear-gradient(to bottom right, rgba(116, 20,50, 0.8), rgba(116, 20,50, 0.5));
  }